**/.dockerignore
**/.env
**/.env.*
!**/.env.example
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.sln.DotSettings.user
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/coverage
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/TestResults
**/*.trx
**/*.coverage
**/*.coveragexml
**/wwwroot/uploads/products/*
!**/wwwroot/uploads/products/.gitkeep
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
